// options
$enable-responsive-font-sizes: true;

// colors
$dark: #212529;

// spacer
$spacer: 1.5rem;

// fonts
$font-size-base: 1rem;
$font-size-xs: $font-size-base * 0.65;
$line-height-base: 1.75;
$headings-margin-bottom: $spacer;
$headings-font-weight: 400;

// borders
$border-radius: 0.125rem;

// navbar
$navbar-nav-link-padding-x: 0.9rem;

// shadows
$box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);

@import "~bootstrap/scss/bootstrap.scss";

main {
  min-height: 40vh;
}

$bg-gradient: linear-gradient(rgba(#000, $alpha: 0), rgba(#000, $alpha: 1));
$tile-gradient: linear-gradient(
  rgba(#000, $alpha: 0) 60%,
  rgba(#000, $alpha: 0.8)
);

.jumbotron {
  // background-color: transparent;
}

.jumbotron-header {
  padding-top: 8rem;
}

.jumbotron-image {
  height: 30vw;
  min-height: 30vw;
  padding: 0px 0px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.jumbotron-overlay {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-color: rgba($dark, 0.6);
  // background: $bg-gradient;
}

.card {
  box-shadow: $box-shadow;

  &.card-transparent {
    box-shadow: none;
    background-color: transparent;
    border: none;

    .card-img,
    .card-img-top {
      box-shadow: $box-shadow;
    }
  }

  .card-title {
    font-weight: bold;
  }

  .card-text {
    @extend .text-muted;
    @extend .small;
  }

  .card-img-avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin: 2rem auto 0rem auto;

    + .card-body .card-title {
      text-align: center;
    }
  }
}

a.card-title:hover {
  text-decoration: none;
}

.tile {
  .card-title {
    color: $light;
  }

  .card-img {
    width: auto;
    max-width: 100%;
    object-fit: cover;
  }

  .card-img-overlay {
    display: flex;
    align-items: flex-end;
    background: $tile-gradient;
  }
}

.footer {
  border-top: $border-width solid $border-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-header {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
}

.navbar .nav-link {
  font-size: $font-size-xs;
  text-transform: uppercase;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: rgba($light, 0.5);
    border-radius: $border-radius;
  }
}

.card-columns.two-columns {
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
}
